*{
    margin: 0;
    padding: 0;
}

body,html{
    display: grid;
    min-height: 100%;
    place-items: center ;
    background-color: lightgrey;

}
.class{
    width: 600px;
    height: 350px;
    box-shadow: 10px 10px 15px black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}
#counter{
    font-size: 5rem;
    margin-bottom: 1rem;
    
}
.prevBtn, .nextBtn{
    font-size: 1.3rem;
    outline: none;
    padding: 3px 5px;
    cursor: pointer;
    margin: 0 5px;
}